# List

## List is a Squence

Previously, we learned that strings are Sequences.

Lists are also Sequence Types.

For Sequences, you can access elements via `index`.

List are defined: `[]`

In [2]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [3]:
letters = ['a', 'b', 'c', 'd', 'e']
print(letters)

['a', 'b', 'c', 'd', 'e']

In [4]:
type(letters)

list

In [5]:
mixed_list = [2, 'A', 'B', True, 'mail']
mixed_list

[2, 'A', 'B', True, 'mail']

In [6]:
nested_list = ['city', 'name', 4, True, [1, 2, 3], 'A', ['a', 'b']]
nested_list

['city', 'name', 4, True, [1, 2, 3], 'A', ['a', 'b']]

In [7]:
nested_list[0]

'city'

In [8]:
nested_list[3]

True

In [9]:
nested_list[4]

[1, 2, 3]

In [10]:
nested_list[6]

['a', 'b']

In [12]:
# acces into nested lists
# double indexing

nested_list[4][2]

3

In [13]:
nested_list[6]

['a', 'b']

In [14]:
nested_list[6][0]

'a'

In [15]:
# Empty lists

empty = []
empty

[]

In [16]:
type(empty)

list

# Lists are Mutable

Strings are Immutable.

Lists are Mutable.

In [1]:
cars = ['audi', 'Ford', 'Mazda']
cars

['audi', 'Ford', 'Mazda']

In [2]:
# mutate the list

cars[0] = 'Audi'
cars

['Audi', 'Ford', 'Mazda']

In [3]:
nums = [1, 2, 3, 4, 5]
nums

[1, 2, 3, 4, 5]

In [4]:
nums[4]

5

In [5]:
nums[4] = '55555'
nums

[1, 2, 3, 4, '55555']

In [6]:
# Access an index which does not exist
# IndexError: list index out of range

nums[6]

IndexError: list index out of range

In [7]:
cars

['Audi', 'Ford', 'Mazda']

negative index: comes from Right to Left
start from -1 

index
------------
   0       1        2
['Audi', 'Ford', 'Mazda']


negative index
<-----------
   -3      -2      -1
['Audi', 'Ford', 'Mazda']

In [8]:
cars[-1]

'Mazda'

In [9]:
cars[-2]

'Ford'


['Audi', 'Ford', 'Mazda'] | ['Audi', 'Ford', 'Mazda']
   -3      -2      -1          0       1        2

In [ ]:
cars[-3]

'Audi'

# Loop Over a List

In [3]:
cars = ['Audi', 'Ford', 'Mazda']
cars

['Audi', 'Ford', 'Mazda']

In [4]:
# loop over cars list

for car in cars:
    print(car)

Audi
Ford
Mazda

In [5]:
# we need the index -> enumerate()

for index, car in enumerate(cars):
    print("{0} - {1}".format(index, car))

0 - Audi
1 - Ford
2 - Mazda

We want to change the elemants during the loop.

In [6]:
nums = {1, 2, 3, 4, 5}
nums

{1, 2, 3, 4, 5}

In [8]:
# loop over the list -> multiply elements by 10

for num in nums:
    num *= 10
    print(num)

10
20
30
40
50

In [9]:
nums

{1, 2, 3, 4, 5}

In [16]:
# we want to change the original list in loop
# we need index to update the element -> list

for index, num in enumerate(nums):
    
    # calculate the new num
    new_num = num * 10
    
    # update the list via index
    nums[index] = new_num

TypeError: 'set' object does not support item assignment

In [13]:
nums

{1, 2, 3, 4, 5}

In [17]:
# cars list 
# we will update each car as 'Car' -> Audi Car, Ford Car, Mazda Car

for index, car in enumerate(cars):
    
    cars[index] = car + 'Car'

In [18]:
cars

['AudiCar', 'FordCar', 'MazdaCar']