# Loops

**Loop:** An iteration over a sequence.

In Python, loops are build via **while** and **for** keywords.

# While Loop

**Example:**

Let say we want to print numbers from 10 to 1 backwards.

In [1]:
n = 10 

print("----- before while loop -----")
print("n:", n)

# while <condition>:
#    .............
#    .............
#    .............
    
while n > 0:
    print(n)
    n = n - 1
    
print("----- after while loop -----")
print("n:", n)

----- before while loop -----
n: 10
10
9
8
7
6
5
4
3
2
1
----- after while loop -----
n: 0

**Operation of While Loop**

While loop:

- Checks the rule condition being True, before execution.
- If the condition is True, it executes once (one iteration)
- Checks the condition again, if it's True it executes again
- This cycle goes on, it checks for the condition before starting each iteration
- If the condition becomes False, then the loop stops.

**Condition Vaiable:**

- It is important to set the condition variable
- In the above example: **n = n - 1** 
- Since n has decreased by 1 at each iteration, eventually it became 0 and the loop stopped.

If you do not set the condition variable properly -> Infinite Loop

**Example:**

Let's find the squares of odd numbers from 1 to 20.

In [2]:
x = 1

while x <= 20:
    
    # odd?
    if x % 2 == 1:
        print("square of {0} is {1}".format(x, x**2))
        
    # set condition variable
    x += 1

square of 1 is 1
square of 3 is 9
square of 5 is 25
square of 7 is 49
square of 9 is 81
square of 11 is 121
square of 13 is 169
square of 15 is 225
square of 17 is 289
square of 19 is 361

**Example:**

Let's find the sum of even numbers from 1 to 10.

In [5]:

k = 1
summation = 0

while k < 11:
    
    # even?
    if k % 2 == 0:
        summation += k
    
    # set condition variable
    k += 1
    
    
print(summation)

30

**Example:**

Find the factors of a given number.

In [6]:
# ask for a number
number = int(input("Please enter a number:"))

i = 2

while i < number:
    
    # is number divisible by i? -> %
    if number % i == 0:
        print(i)
        
    # ser condition variable
    i += 1

Please enter a number: 48

2
3
4
6
8
12
16
24

**Example:**

Find if a given number is a prime number?

In [8]:
# ask for a number
number = int(input("Please enter a number:"))

# assume the number is prime
is_prime = True

i = 2

while i < number:
    
    # is number divisible by i? -> %
    if number % i == 0:
        is_prime = False
        
    # set condition variable
    i = i + 1
    
if is_prime == True:
    print("{0} is PRIME".format(number))
else:
    print("{0} is NOT PRIME".format(number))

Please enter a number: 13

13 is PRIME

# Infinite Loop

i = 1

while i < 10:
    print(i)

Always remeber to set condition variable.

# For Loop

**Example:**

Print numbers from 0 to 10.

In [4]:

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
range(10)

range(0, 10)

for <loop_variable> in <sequence>:
    ..............
    ..............

**For Loop Properties:**

* Loops over a sequence, list, string, range...
* range (start, end, step)
    * start -> inc
    * end -> exc
    * step -> 1

**Example:**

Print numbers from 1 to 10, step size 2.

In [6]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

**Example:**

Print numbers from 5 up to 30 (included), and step size is 3.

In [7]:

for i in range(5, 31, 3):
    print(i)

5
8
11
14
17
20
23
26
29

**Example:**

Find all factors of a given number.

In [8]:
# ask for a number
number = int(input("Please enter a number: "))

# factors -> start at 2 -> number

for x in range(2, number):
    
    # is number divisible by x 
    if number % x == 0:
        print(x)

Please enter a number:  24

2
3
4
6
8
12

**Example:**

Check if a given number is prime.

In [10]:
# ask for a number
number = int(input("Please enter a number: "))

# assume prime
is_prime = True

for p in range(2, number):
    
    # divisibility 
    if number % p == 0:
        is_prime = False
        
if is_prime:
    print("{} is PRIME".format(number))
else:
    print("{} is NOT PRIME".format(number))

Please enter a number:  12

12 is NOT PRIME

**Example:**

Print odd numbers from 20 to 1 (exc), backwards.

In [11]:
# range(start, end, step)
# step -> - (minus) -> backwards

for i in range(20, 1, -1):
    if i % 2 == 1:
        print(i)

19
17
15
13
11
9
7
5
3

**Example:**

Print odd numbers from 20 to 1 (inc), backwards.

In [12]:
# range(start, end, step)
# step -> - (minus) -> backwards

for i in range(20, 0, -1):
    if i % 2 == 1:
        print(i)

19
17
15
13
11
9
7
5
3
1

# Loop Over Strings with For

In [2]:

text = 'Python'

for character in text:
    print(character)

P
y
t
h
o
n

**Example:**

Concatenate the given text characters with "-".

Python
P-y-t-h-o-n

In [3]:
# ask for an input
user_input = input("Please enter a text: ")

# variable for new input
new_input = ""

# Loop
for letter in user_input:
    
    # add - after character and concatenate into new_input
    new_input += letter + "-"
    
    
print(new_input)

Please enter a text:  pandas

p-a-n-d-a-s-

## len()

In Python, for sequence types (str, list, ...), to get length of the object we use **len()** function.

In [1]:
len("Python")

6

In [2]:
list_of_numbers_and_letters = [1, 2, 3, 'A', 'B']
list_of_numbers_and_letters

[1, 2, 3, 'A', 'B']

In [3]:
len(list_of_numbers_and_letters)

5

In [5]:
# ask for an input
user_input = input("Please enter a text to learn its length:")

# get the length of the text
length = len(user_input)

print(length)

Please enter a text to learn its length: Machine Learning

16

In [6]:
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

# enumerate()

In Python, when looping over sequences we might need the index of current iteration.

**enumerate()** to get index.

**Example:**

Remove the unnecassary "-" from the end of text in the above example.

In [4]:
# ask for an input
user_input = input("Please enter a text: ")

# variable for new input
new_input = ""

# Loop with enumerate
for index, letter in enumerate(user_input):
    
    # concatenate the letter
    new_input += letter 
    
    # if this is the last index
    if index < len(user_input) -1:
        new_input += "-"
        
print(new_input)

Please enter a text:  pandas

p-a-n-d-a-s

In [1]:
enumerate?

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses:

In [3]:
len('pandas')

6

In python -> indices start from 0.

pandas -> 
0, 1, 2, 3, 4, 5

In [5]:
# 0, 1, 2, 3, 4, 5

for index, letter in enumerate('pandas'):
    print(index)

0
1
2
3
4
5

# index Example

Start from 10, print up to 100 (inc) with step size of 5.

In [3]:
10, 15, 20, ..., 100

(10, 15, 20, Ellipsis, 100)

Find 

the number in index of 5 = the number of in 6th order.

`Indices start from 0.`

In [4]:

# first let's see the numbers

for number in range(10, 101, 5):
    print(number)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [5]:
# index 5 -> element in 6th order

number_range = range(10, 101, 5)

for index, number in enumerate(number_range):
    
    if index == 5:
        print(number)

35

In [6]:

# do it in one line

for i, num in enumerate(range(10, 101, 5)):
    if i == 5:
        print(num)

35

# Nested Loops

for .....:
    
    for .....:
    
    for .....:
        
        for .....:

**Example:**

We will draw a square of stars on screen.

3 stars on a rows and 3 stars on a column.

In [2]:

# while

i = 0

# rows
while i < 3:
    
    stars = ""
    
    # columns
    j = 0
    
    while j < 3:
        stars += " * "
        j += 1
        
    # print the rows stars
    print(stars)
    
    i += 1

 *  *  *
 *  *  *
 *  *  *

In [3]:

# for 

# iterate over rows 
    # iterate over columns
    
# rows    
for i in range(3):
    
    stars = ""
    
    # columns
    for j in range(3):
        stars += " * "
        
    print(stars)

 *  *  *
 *  *  *
 *  *  *

# Exit Loop : `break`

**Example:**

Let's print the letter of a string.

If we encounter a space character we will exit the loop.

In [2]:
# ask for an input 

text = input("Please entr a text: ")

print("----- before the loop -----")

for character in text:
    
    # check is space 
    if character == ' ':
        break
    
    # if not space -> print it
    print(character)
    
print("------ after the loop -------")

Please entr a text:  abc xyz asdffsdf

----- before the loop -----
a
b
c
------ after the loop -------

**Example:**

Start from 30 up to 100 and print the numbers.

If the number is a multiple of 11 we terminate execution.

In [3]:
# multiple of 11

print("----- before the loop -----")

for i in range(30, 101):
    
    # check for multiple of 11
    if i % 11 == 0:
        print(i)
        break
    else:
        # it is not a multiple of 11
        print(i)
        
print("----- after the loop -----")

----- before the loop -----
30
31
32
33
----- after the loop -----

# Skip to the Next Iteration: `continue`

Sometimes we need only to skip the current iteretion and pass with the next one.

For these cases-> **continue**

`continue` will not finalize all the loop (like break) it will only **finalize the current iteration.**

**Example:**

We want to print even numbers from 1 to 10.

`continue`

In [1]:

for i in range(1, 11):
    
    # if odd
    if i % 2 == 1:
        continue
    
    # if it comes here, which means it is even
    print(i)

2
4
6
8
10

**Example:**

Print the letters in a string.

If we encounter the space character we will skip that character.

We will print all the chars but space.

In [ ]:
# ask for an input
text = input('Please enter a text: ')

for char in text:
    
    # check if space
    if char == '  ':
        continue
        
    # if not space -> we are here
    print(char)

Please enter a text:  Python Machine Learning

P
y
t
h
o
n

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

# `For-Else` Structure

Sometimes you need to know if your loop has completed sucessfully.

**Sucessful Loos**: Loops with no `break` statements executed in them.

For these case we use `for-else` structures.


for .......:
    
    ..........
    ..........
    break
    ..........
    ..........
else:
    ...... no break executed .........
    
..............

**Example:**

Print numbers from 2 to 10.

If the numbers is 7, exit the loop (break).

If the loop executes sucessfully we will print: "Loop executed sucessfully"

In [5]:

print("--------Before For Loop ----------")

for i in range(2, 10):
    
    print(i)
    
    if i % 7 == 0:
        break
        
else: 
    print("Loop executed sucessfully")
    
print("-------After For Loop ---------")

--------Before For Loop ----------
2
3
4
5
6
7
-------After For Loop ---------

In [6]:

print("--------Before For Loop ----------")

for i in range(2, 10):
    
    print(i)
    
    if i % 17 == 0:
        break
        
else: 
    print("Loop executed sucessfully")
    
print("-------After For Loop ---------")

--------Before For Loop ----------
2
3
4
5
6
7
8
9
Loop executed sucessfully
-------After For Loop ---------