# Day 4

## For Loop

In [15]:
for p in "Python":
    print(p)

P
y
t
h
o
n

In [3]:
for n in [15,45,78,86,53]:
    print(n)

15
45
78
86
53

In [4]:
r = range(10)
r

range(0, 10)

In [5]:
r = range(5,10)
r

range(5, 10)

In [6]:
r = range(10,100,17)
r

range(10, 100, 17)

In [7]:
for r in range(10,100,17):
    print(r)

10
27
44
61
78
95

In [10]:
for i in range(1,10):
    if i%2==1:
        print(i)

1
3
5
7
9

In [12]:
num = int(input("Enter a random number: "))
if num<10:
    for i in range(1,num):
        print(i)

1
2
3
4

In [14]:
#Print multiplication table of number from user input.
num = int(input("Multiplication table of: "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)
   # print(num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Break and Continue

In [17]:
i=1
while i<10:
    print(i)
    if i==5:
        break
    i+=1

1
2
3
4
5

In [22]:
for i in range(1,20,3):
    print(i)
    if i==13:
        break

1
4
7
10
13

In [19]:
## Continue
i=1
while i<10:
    if i==5:
        i+=1
        continue
    print(i)
    i+=1

1
2
3
4
6
7
8
9

In [20]:
for i in ["Hello", "Random", "World"]:
    if i=="Random":
        continue
    else:
        print(i)

Hello
World

## List and List Methods

In [23]:
fruits = ['apple', 'banana', 'mango', 'cherry', 'pear']
print(fruits)

['apple', 'banana', 'mango', 'cherry', 'pear']

In [27]:
#Allow different types and duplicate elements
list1 = [10, -56, 25.5, 'Kathmandu','Kathmandu', True, False]
print(list1)
print(list1[0])
print(list1[1])
print(list1[2])

[10, -56, 25.5, 'Kathmandu', 'Kathmandu', True, False]
10
-56
25.5

In [28]:
print(list1[-1])

False

In [29]:
print(list1[1:5])

[-56, 25.5, 'Kathmandu', 'Kathmandu']

In [30]:
print(list1[-5:-1:2])

[25.5, 'Kathmandu']

In [31]:
for l in list1:
    print(l)

10
-56
25.5
Kathmandu
Kathmandu
True
False

In [32]:
len(list1)

7

In [33]:
len("Computer")

8

In [34]:
i = 0
while i<len(list1):
    print(list1[i])
    i+=1

10
-56
25.5
Kathmandu
Kathmandu
True
False

### List Methods

In [35]:
# Append Example:
numbers = [10,20,30,40,50]
numbers.append(60)
numbers

[10, 20, 30, 40, 50, 60]

In [37]:
# Insert Example:
nums = [60,70,80,90,100]
nums.insert(2,50)
nums

[60, 70, 50, 80, 90, 100]

In [38]:
# Count Example:
numbers = [10,20,30,40,50,50]
numbers.count(50)

2

In [41]:
# Extend Example:
nums1 = [10,20,30,40,50]
nums2 = [60,70,80,90,100]
nums2.extend(nums1)
print(nums1)
print(nums2)

[10, 20, 30, 40, 50]
[60, 70, 80, 90, 100, 10, 20, 30, 40, 50]

In [42]:
# Index Example:
nums2 = [60,70,80,90,100]
print(nums2.index(100))

4

In [43]:
# Pop Example:
nums = [60,70,80,90,100]
nums.pop()
nums

[60, 70, 80, 90]

In [46]:
# Remove Example:
nums = [60,70,80,90,100]
nums.remove(90)
nums

[60, 70, 80, 100]

In [47]:
# Reverse Example:
nums = [60,70,80,90,100]
nums.reverse()
nums

[100, 90, 80, 70, 60]

In [49]:
nums = [60,70,80,90,100]
nums = nums[::-1]
nums

[100, 90, 80, 70, 60]

In [50]:
# Sort(Numerical) Example:
nums = [15,46,24,11,31,74,84,74,95,41,74,19]
nums.sort()
nums

[11, 15, 19, 24, 31, 41, 46, 74, 74, 74, 84, 95]

In [51]:
nums = [15,46,24,11,31,74,84,74,95,41,74,19]
nums.sort(reverse=True)
nums

[95, 84, 74, 74, 74, 46, 41, 31, 24, 19, 15, 11]

In [52]:
# Sort(Alphabetical) Example:
alpha = ['h','a','x','b','v','e','i']
alpha.sort()
alpha

['a', 'b', 'e', 'h', 'i', 'v', 'x']

In [53]:
alpha = ['h','a','x','b','v','e','i']
alpha.sort(reverse=True)
alpha

['x', 'v', 'i', 'h', 'e', 'b', 'a']

In [54]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Tuple and Tuple Methods

In [ ]:
tup2 = (1,"a",2,"b",3,"c",4,"d",5,"e",6,"f")
print(tup2)

In [ ]:
# Tuple Example:
laptop = ('dell', 'apple', 'asus','asus', 'hp', 'acer', 'lenevo', 'msi')
laptop.count('asus')

In [ ]:
# Index Example:
laptop = ('dell', 'apple', 'asus','asus', 'hp', 'acer', 'lenevo', 'msi')
laptop.index('asus')

## Set

In [ ]:
set1 = {1,2,3, "One", "Two", "Three"}
print(set1)

In [ ]:
#Example: Cannot Access using indexing
avengers = {"Iron Man", "Hulk", "Captain America", "Thor", "Black Widow", "Hawkeye"}
avengers[0]

In [ ]:
num = int(input("Enter how many elements do you want: "))
countries = set()
for i in range(num):
  countries.add(input("Enter random country: "))

print(countries)

### Unpacking

In [ ]:
a,b,c = [1,2,3]
print(a,b,c)

In [ ]:
a,b,c = [1,2,3,4]
print(a,b,c)

In [ ]:
a,b,c = [3,4]
print(a,b,c)

In [ ]:
a,*b,c = [1,2,3,4]
print(a,b,c)