# Introduction

We are learning python today

Welcome to NextStep InfoTech Training Center.

And Welcome to Python Free 1 Week Crash Course.

We will go through very basic to few intermediate python terms and will be able to make complete programs at last. But we will not go very deep in each terms since we need to cover all topic within 1 week.

Topics we will cover are:

https://nextstepinfotech.com/view-course/python-crash-course

# Day 1 Topics

Introduction

Installing Python 3

VS Code Installation

Your First Python Program

Comments, Reserved Keywords and Variables

Data Types

Operators in Python

## Introduction

Python is a general purpose, free, open source, simple, dynamically typed, easy to learn, powerful and high level programming language.

Guido Van Rossum is known as the founder of Python Programming.

YouTube, Google, Instagram, Pinterest and many more are made in Python.

Python Application Areas includes, web applications, GUI Applications, software development, CAD Softwares, ML, AI, Data Science and so on.

### Install Python

Go to following link and download python file: 

> https://www.python.org/

Then install it.

### Install VS Code

Go to following link and download vs code file: 

> https://code.visualstudio.com/

Then install it.

Also install extensions:

+ Python
+ Jupyter

### Your First Program

In [2]:
print("Hello World!!!")

Hello World!!!

In [3]:
print('Hello World')

Hello World

In [4]:
print("Welcome to NextStep InfoTech")

Welcome to NextStep InfoTech

In [5]:
a = 'Python Free One Week Crash Course, '
b = 'November 28, 2021'
print(a+b)

Python Free One Week Crash Course, November 28, 2021

In [6]:
c = 123
d = 456
e = 789
total = c+d+e
print(total)

1368

## Comments

A piece of text placed within a program to help other users to understand it, which the computer ignores when running the program. In Python comments starts with # and python will ignore them.

Comments can be used to explain Python code or to make the code more readable.

In [7]:
#Example
#This is comment. Even the above line is a comment.

In [9]:
#Example(At the end of line):
x = 25 #First Variable
y = 35 #Second Variable
print(x, y)

25 35

Comments can be used to prevent execution when testing code.

In [10]:
x = 25
y = 35
print(x+y) #This will print sum of x and y.
# print(x-y) #This will not run since this is a comment.

60

## Reserved Words or Keywords

Python language uses the following keywords which are not available to users to use them as identifiers.

In [11]:
#shift + Enter - keyboard shortcut for executing cell
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

## Variables

Variables are containers for storing data values in any computer program.

In [12]:
name = "Krishna"
print(name)

Krishna

In [13]:
num = 258
print(num)

258

### Rules for creating variables in Python

1. Every variable name should start with alphabets or underscore(_).
2. No spaces are allowed in variable declaration.
3. Except underscore(_) no other special symbol are allowed in the middle of the variable declaration.
4. A variable is written with a combination of letters, numbers and special characters _(underscore).
5. No Reserved keyword

#### Good Examples:

    hello, python123, _taker, python_sikumna, CAPITAL, capital

In [14]:
hello = "Hello and welcome all"
print(hello)

Hello and welcome all

In [15]:
python123 = "We are learning python"
print(python123)

We are learning python

In [16]:
_taker = "Wrestler"

In [17]:
python_sikumna = "Let's learn python"

In [20]:
CAPITAL = "Kathmandu"
print(CAPITAL)

Kathmandu

In [23]:
CAPITAl = "Tokyo"
print(CAPITAl)

Tokyo

#### Bad Examples:

    25number, 10_20, personal computer, @tag, face$book, and

In [24]:
25number = "25"

SyntaxError: invalid syntax (<ipython-input-24-831ff3a38dd1>, line 1)

In [25]:
10_20 = "10 and 20"

SyntaxError: cannot assign to literal (<ipython-input-25-e137f5495967>, line 1)

In [26]:
personal computer = "pc"

SyntaxError: invalid syntax (<ipython-input-26-643835c5ea85>, line 1)

In [27]:
@tag = "Tag it"

SyntaxError: invalid syntax (<ipython-input-27-b3f1d9714c56>, line 1)

In [28]:
face$book = "social media"

SyntaxError: invalid syntax (<ipython-input-28-ea51f377dcd1>, line 1)

In [29]:
and = "conjuction"

SyntaxError: invalid syntax (<ipython-input-29-b9642ea6a645>, line 1)

### Various ways to declare a variable

In [34]:
#Example: Integer, Float, String(2). Check type
x = 25
y = 25.52
n = "name"
n1 = 'name1'

print(type(x))
print(type(y))
print(type(n))
print(type(n1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

We can assign values to multiple variables in one line in python.

In [35]:
#Example:
a,b,c = 12,"Python", 4.37
print(type(a), a)
print(type(b), b)
print(type(c), c)

<class 'int'> 12
<class 'str'> Python
<class 'float'> 4.37

We can also assign same value to multiple variables

In [36]:
a = b = c = 27
print(type(a), a)
print(type(b), b)
print(type(c), c)

<class 'int'> 27
<class 'int'> 27
<class 'int'> 27

Variables do not need to be declared with any particular type.m

In [37]:
#Example:
m = "mandatory" # No need to declare m as string.
n = 25 # No need to declare n as integer.

print(type(m), m)
print(type(n), n)

<class 'str'> mandatory
<class 'int'> 25

### Multiwords Variables

Variable names with more than one word can be difficult to read. We can make them more readable by using **snake case**:

All words are lower case and each word is separated by an underscore character:

In [ ]:
cup_of_tea = "Milk Tea"
print(type(cup_of_tea), cup_of_tea)

## Data Type in Python

Variables can store data of different types, and different types can do different things.

+ Text Type: str
+ Numeric Types: int, float
+ Sequence Types: list, tuple, range
+ Mapping Type: dict
+ Set Types: set
+ Boolean Type: bool

### Text Type: str

In [38]:
#Example:
pc = "Personal Computer"
coffee = 'cappuccino'
print(type(pc), pc)
print(type(coffee), coffee)

<class 'str'> Personal Computer
<class 'str'> cappuccino

### Numeric Types: int, float

In [39]:
int_a = 25
int_b = -65
int_c = 13452486785215 #There is no limit on the maximum value. It is possible to handle as large value as memory is available.
int_d = -1625255456

print(type(int_a), int_a)
print(type(int_b), int_b)
print(type(int_c), int_c)
print(type(int_d), int_d)

<class 'int'> 25
<class 'int'> -65
<class 'int'> 13452486785215
<class 'int'> -1625255456

In [40]:
float_p = 12.35
float_n = -45.672
float_l = 12.5478965485635655
float_s = -23.36547954554822
float_sci = -1.253e17
print(type(float_p), float_p)
print(type(float_n), float_n)
print(type(float_l), float_l)
print(type(float_s), float_s)
print(type(float_sci), float_sci)

<class 'float'> 12.35
<class 'float'> -45.672
<class 'float'> 12.547896548563566
<class 'float'> -23.36547954554822
<class 'float'> -1.253e+17

### Sequence Types: list, tuple, range

In [42]:
xyz = "hello"
print(type(xyz))

<class 'str'>

In [41]:
# List Example:
num_list = [14,47,78,96,32,25,58]
print(type(num_list), num_list)

<class 'list'> [14, 47, 78, 96, 32, 25, 58]

In [45]:
# Tuple Example:
num_tuple = (14,47,78,96,32,25,58, "hello")
print(type(num_tuple), num_tuple)

<class 'tuple'> (14, 47, 78, 96, 32, 25, 58, 'hello')

In [44]:
tuple2 = ("python", 123, 12.58)
print(tuple2)

('python', 123, 12.58)

In [43]:
# Range Example:
r = range(10)
print(type(r), r)

<class 'range'> range(0, 10)

### Mapping Type: Dict

In [46]:
#Example:
student = {'Name':'Ram', 'Class':10, 'Roll No': 1, "Marks": 95}
print(type(student), student)

<class 'dict'> {'Name': 'Ram', 'Class': 10, 'Roll No': 1, 'Marks': 95}

### Set Types: Set

In [50]:
#Example:
num_set = {14,47,78,96,32,25,58,58}
print(type(num_set), num_set)

<class 'set'> {96, 32, 78, 14, 47, 25, 58}

### Boolean Type: bool

In [51]:
print(True)
print(False)

True
False

In [52]:
a = 15
b = 25
print(a < b)

True

In [53]:
# The bool() function allows you to evaluate any value, and give you True or False in return.
# Almost any value is evaluated to True if it has some sort of content.
print(bool("Hello"))
print(bool(12345))
print(bool(["a", "b", "c"]))
print(bool(("a", "b", "c")))
print(bool({"a", "b", "c"}))
print(bool({"a":"apple", "b":"ball", "c":"cat"}))

True
True
True
True
True
True

In [54]:
# Empty values, such as (), [], {}, "", the number 0, and the value None will give false
print(bool(()))
print(bool([]))
print(bool({}))
print(bool(set()))
print(bool(""))
print(bool(0))
print(bool(False))

False
False
False
False
False
False
False

## Operators in Python

+ Arithmetic
+ Relational or Comparison
+ Logical
+ Assignment
+ Membership

### Arithmetic Operators in Python

In [55]:
#Arithmetic Operators are used to perform basic arithmetic operations like addition, subtraction, division etc.
#Examples
print("Addition arithmetic Operators: ", 5+3) #Addition
print("Subtraction arithmetic Operators: ",8-2) #Subtraction
print("Multiplication arithmetic Operators: ",2*5) #Multiplication
print("Division arithmetic Operators: ",10/4) #Division
print("Remainder arithmetic Operators: ",25%6) #Remainder
print("Power arithmetic Operators: ",3**4) #Power
print("Floor Division arithmetic Operators: ",10//4) #Floor Division

Addition arithmetic Operators:  8
Subtraction arithmetic Operators:  6
Multiplication arithmetic Operators:  10
Division arithmetic Operators:  2.5
Remainder arithmetic Operators:  1
Power arithmetic Operators:  81
Floor Division arithmetic Operators:  2

### Relational or Comparison Operators in Python

In [56]:
#Relational operators are used to compare the value of operands (expressions) to produce a logical value. A logical value is either True or False.
#Examples:
print(10<2)
print(10>2)
print(10<=2)
print(10>=2)
print(10==2)
print(10!=2)

False
True
False
True
False
True

### Logical Operators in Python

Logical operators are used to connect more relational operations to form a complex expression called logical expression. A value obtained by evaluating a logical expression is always logical, i.e. either True or False.

#### Logical And

In [57]:

print(5>2 and 3>2) # True and True will give True
print(5>2 and 3<2) # True and False will give False
print(5<2 and 3>2) # False and True will give False
print(5<2 and 3<2) # False and False will give False

True
False
False
False

#### Logical Or

In [58]:
print(5>2 or 3>2) # True or True will give True
print(5>2 or 3<2) # True or False will give True
print(5<2 or 3>2) # False or True will give True
print(5<2 or 3<2) # False or False will give False

True
True
True
False

#### Logical Not

In [59]:
print(not(5>2)) # not True will give False
print(not(3<2)) # not False will give True

False
True

### Assignment Operators in Python

Assignment operators are used to perform arithmetic operations while assigning value to a variable.

In [60]:
x = 10
print(x)
x = x + 20
print(x)

10
30

In [61]:
x = 10
print(x)
x += 20
print(x)

10
30

In [62]:
x = 10
print(x)
x -= 20
print(x)

10
-10

In [63]:
x = 10
print(x)
x *= 20
print(x)

10
200

In [64]:
x = 10
print(x)
x /= 3
print(x)

10
3.3333333333333335

In [65]:
x = 10
print(x)
x %= 3
print(x)

10
1

In [66]:
x = 10
print(x)
x **= 2
print(x)

10
100

In [67]:
x = 10
print(x)
x //= 3
print(x)

10
3

## Membership Operators

The membership operators are useful to test for membership in a sequence such as string, lists, tuples and dictionaries.

There are two type of Membership operator:

+ in
+ not in

In [68]:
#Examples:
print("p" in "python") #Gives True
print("P" in "python") #Gives False, because python is case sensetive.
print(12 in [10,12,14,16,18]) #Gives True
print(100 in [10,12,14,16,18]) #Gives False

True
False
True
False

In [71]:
print("p" not in "python")
print("P" not in "python")
print(20 not in [10,12,14,16,18])
print(20 not in [10,12,14,16,18])
print(18 not in [10,12,14,16,18])

False
True
True
True
False