# Set Creation

So far, we have covered List, Dictionary and Tuple.

Now we will learn another built-in data type in Python: `Set`

`Set:`

* is a datatype that include other data types (like List, Dict, String)
* is **unordered** and **unindexed**
* elements are **unique**
* is created:
    * `{}` -> but with elements in it
    * `set()`

**Create a Set via** `{}`

In [1]:
# Create Set

my_set = {}

my_set

{}

In [2]:
type(my_set)

dict

In [3]:
# empty {} -> dict

my_set = {'dog', 'cat', 'horse'}

my_set

{'cat', 'dog', 'horse'}

In [4]:
type(my_set)

set

**Create a Set via** `set()`

In [5]:
# set({})

letters = set({'A', 'B', 'C', 'D'})

letters

{'A', 'B', 'C', 'D'}

In [6]:
type(letters)

set

In [7]:
# Some element in a set -> only once

grades = ['A', 'A', 'B', 'C', 'B', 'C']

print(grades)

['A', 'A', 'B', 'C', 'B', 'C']

In [8]:
# convert the List -> Set

# the same elements -> removed
grades_set = set(grades)

grades_set

{'A', 'B', 'C'}

In [9]:
# String -> Set

text = 'Python Data Science'

text_set = set(text)

text_set

{' ', 'D', 'P', 'S', 'a', 'c', 'e', 'h', 'i', 'n', 'o', 't', 'y'}

In [10]:
sentence = 'sentence'
set(sentence)

{'c', 'e', 'n', 's', 't'}

In [11]:
# try to access the elements of a Set with index

text_set

{' ', 'D', 'P', 'S', 'a', 'c', 'e', 'h', 'i', 'n', 'o', 't', 'y'}

In [12]:
text_set[0]

TypeError: 'set' object is not subscriptable

**index -> subscritable**

# Set Methods

**intersection**

Intersection of two sets:
    
$$ A \cap B $$

In [2]:
grades = ['A', 'A', 'B', 'C', 'B', 'C']
grades = set(grades)
grades

{'A', 'B', 'C'}

In [3]:
letters = ['A', 'L', 'T', 'B', 'F']
letters = set(letters)
letters

{'A', 'B', 'F', 'L', 'T'}

In [4]:
# A.intersection(B)

grades.intersection(letters)

{'A', 'B'}

**union:**

Union of two sets:

$$ A \cup B $$

A.union(B)

In [6]:
grades.union(letters)

{'A', 'B', 'C', 'F', 'L', 'T'}

**difference:**

Difference of two sets:

$$ A \setminus B $$

A.difference(B)

In [7]:
grades.difference(letters)

{'C'}

In [8]:
letters.difference(grades)

{'F', 'L', 'T'}

**issubset()**

Checks if a set is the subset of the other one.

(All elements of A are in B)

In [9]:
# if grades is a subset of letters

grades.issubset(letters)

False

In [10]:
grades

{'A', 'B', 'C'}

In [11]:
letters

{'A', 'B', 'F', 'L', 'T'}

In [12]:
grades_small = {'A', 'B'}

In [13]:
grades_small.issubset(letters)

True

In [14]:
grades_small.issubset(grades)

True

**issuperset()**

Checks if a set (A) is the superset of the other one (B).

A.issuperset(B)

(All elements of A are in B)

In [15]:
letters.issuperset(grades)

False

In [16]:
letters.issuperset(grades_small)

True

**symmetric_difference()**

Checks the symmetric difference between A and B.

<pre>
All elements which are only in A
+
All elements which are only in B
</pre>

$$ (A \setminus B) \cup (B \setminus A) $$

In [17]:
letters

{'A', 'B', 'F', 'L', 'T'}

In [18]:
grades

{'A', 'B', 'C'}

In [19]:
letters.symmetric_difference(grades)

{'C', 'F', 'L', 'T'}

In [20]:
num_list = [1,2,3,4,5]
num_list.remove(2)
print(num_list)

[1, 3, 4, 5]

In [21]:
my_list = [2, 'apple', 3.5]

In [22]:
my_list[1]

'apple'

In [23]:
y = "stuff;thing;junk;"

In [24]:
z = y.split(';')
len(z)

4

In [25]:
5 != 6

True

# Set Operations

In [1]:
grades = ['A', 'A', 'B', 'C', 'B', 'C']
grades = set(grades)
grades

{'A', 'B', 'C'}

In [2]:
letters = ['A', 'L', 'T', 'B', 'F']
letters = set(letters)
letters

{'A', 'B', 'F', 'L', 'T'}

**Add elements to set -> `add()`**

In [3]:
grades.add('F')

grades

{'A', 'B', 'C', 'F'}

In [4]:
grades.add('T')

grades

{'A', 'B', 'C', 'F', 'T'}

In [5]:
# Python will ignore the same element

grades.add('F')

grades

{'A', 'B', 'C', 'F', 'T'}

**Remove elements from set -> `remove()`**

In [6]:
grades

{'A', 'B', 'C', 'F', 'T'}

In [7]:
# set.remove(<element>)

grades.remove('C')

In [8]:
grades

{'A', 'B', 'F', 'T'}

In [9]:
grades.remove('F')
grades

{'A', 'B', 'T'}

**Loop over a Set**

In [10]:
for letter in letters:
    print(letter)

A
L
B
F
T

In [11]:
grades

{'A', 'B', 'T'}

In [12]:
for g in grades:
    print(g)

A
B
T

**Assignment in Sets**

Assignment is `Aliasing`.

Aliasing: giving another name.

In [13]:
# create a set

a = {2, 5, 7}

# assignment
b = a

print('a:', a)
print('b:', b)

a: {2, 5, 7}
b: {2, 5, 7}

In [14]:
# add element into b

b.add('NEW')

In [15]:
print('a:', a)
print('b:', b)

a: {2, 5, 'NEW', 7}
b: {2, 5, 'NEW', 7}

**identical**

In [16]:
a is b

True

**equivalence**

In [18]:
a == b

True

In [19]:
a.issubset(b)

True

In [20]:
# add a new element to a

a.add('YYYY')

In [21]:
print('a:', a)
print('b:', b)

a: {2, 5, 'NEW', 7, 'YYYY'}
b: {2, 5, 'NEW', 7, 'YYYY'}

**Adding multiple elements to a Set -> `update()`**

In [22]:
fruits = {'Apple', 'Orange', 'Melon'}
fruits

{'Apple', 'Melon', 'Orange'}

In [23]:
more_fruits = ['Cherry', 'Banana']
more_fruits

['Cherry', 'Banana']

In [24]:
fruits.update(more_fruits)

fruits

{'Apple', 'Banana', 'Cherry', 'Melon', 'Orange'}