# Tuple Creation

Tuple is a Sequence Type like String and List.

They can take any type as elements.

Tuple's are indexed by integers (implicitly).

They look like List.

Main Difference:
    
    * List -> Mutable
    * Tuple -> Immutable
    
**Tuple** is a sequence seperated by comma.

**Creating a Tuple by assigning elements seperated with comma**

In [1]:
t = 'x', 'y', 'z', 'q', 'p'
t

('x', 'y', 'z', 'q', 'p')

In [2]:
type(t)

tuple

In [3]:
t2 = (1, 2, 4, 6, 8, 20)
t2

(1, 2, 4, 6, 8, 20)

In [4]:
tuple(t2)

(1, 2, 4, 6, 8, 20)

In [5]:
isinstance(t2, tuple)

True

In [7]:
isinstance(t2, list)

False

**Question:**

How to create a tuple with only one element?

In [8]:
one_tuple = 'x'

In [9]:
type(one_tuple)

str

In [10]:
one_tuple = ('x')
one_tuple

'x'

In [11]:
type(one_tuple)

str

**Answer:**

You add a comma after the element.

In [12]:
one_tuple = ('x',)
one_tuple

('x',)

In [13]:
type(one_tuple)

tuple

In [16]:
one_tuple_2 = 'y',
one_tuple_2

('y',)

In [17]:
type(one_tuple_2)

tuple

**Create Tuple with ->  `tuple()`**

In [18]:
t = tuple()
t

()

In [19]:
isinstance(t, tuple)

True

In [20]:
# let's create a tuple with single element

single = tuple('x')
single

('x',)

In [21]:
type(single)

tuple

**tuple()** -> enter a string, it will convert into a Tuple

In [22]:
lang = tuple('Python')
lang

('P', 'y', 't', 'h', 'o', 'n')

In [24]:
lang[0]

'P'

In [25]:
lang[2]

't'

**tuple()** -> enter a list, it will convert into a Tuple

In [26]:
my_list = ['A', 'B', 'C', 'D']

list_tuple = tuple(my_list)

list_tuple

('A', 'B', 'C', 'D')

In [27]:
type(list_tuple)

tuple

In [28]:
list_tuple[3]

'D'

If there is indexing in a type -> slicing

In [1]:
text = 'Moon is the orbit of Earth.'

In [2]:
tup = tuple(text)

print(tup)

('M', 'o', 'o', 'n', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'o', 'r', 'b', 'i', 't', ' ', 'o', 'f', ' ', 'E', 'a', 'r', 't', 'h', '.')

`slicing[start, end, step]`

In [3]:
# slicing 
# the word -> Moon

tup[0:4]

('M', 'o', 'o', 'n')

In [4]:
# negative index -> start -1, right to left
# Earth.
# [-6 -5 -4 -3 -2] -1

tup[-6:-1]

('E', 'a', 'r', 't', 'h')

In [5]:
# copy the whole tuple

new_tup = tup[::]

print(new_tup)

('M', 'o', 'o', 'n', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'o', 'r', 'b', 'i', 't', ' ', 'o', 'f', ' ', 'E', 'a', 'r', 't', 'h', '.')

In [6]:
# take the inverse of tup

inv_tup = tup[::-1]

print(inv_tup)

('.', 'h', 't', 'r', 'a', 'E', ' ', 'f', 'o', ' ', 't', 'i', 'b', 'r', 'o', ' ', 'e', 'h', 't', ' ', 's', 'i', ' ', 'n', 'o', 'o', 'M')

**Tuples are Immutable**

In [7]:
t = tuple([0,1,2,34,5])

t

(0, 1, 2, 34, 5)

In [9]:
t[3]

34

In [10]:
t[3] = 3

TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment -> you can not **mutate** it

In [11]:
# we will reassing it

t = tuple([0,1,2,3,4,5])

t

(0, 1, 2, 3, 4, 5)

**Tuple Comparison**

Comparing Tuples -> the same as comparing Strings -> Alphabetical Order

In [12]:
'abxc' < 'ated'

True

In [13]:
'abc' < 'aac'

False

In [14]:
(1,2,3) < (5,4,3)

True

In [15]:
(5, 40 ,200) < (6, 1, 3)

True

In [16]:
'1243' < '1234'

False

In [17]:
tuple('1243') < tuple('1234')

False

# Tuple Assignment

In [1]:
a = 99
b = 1

In [3]:
# assing the value of a to b
# and the value of b to a
# a = 1
# b = 99

# Way 1 -> temporary variable

print('a:', a)
print('b:', b)

temp = a

a = b

print("after assignment")

print('a:', b)
print('b:', b)

a: 1
b: 1
after assignment
a: 1
b: 1

We can change the value of variables -> `Tuple Assignment`

In [5]:
# Tuple Assignment

a = 99 
b = 1

print('a:', a)
print('b:', b)

a, b = b, a

print("after tuple assignment")

print('a:', a)
print('b:', b)

a: 99
b: 1
after tuple assignment
a: 1
b: 99

**Example:**

a = 500 
b = 800

via Tuple Assignment.

In [7]:
a, b = 500, 800

print('a:', a)
print('b:', b)

a: 500
b: 800

In [8]:
a, b = 500, 800, 600

ValueError: too many values to unpack (expected 2)

**Important:**

In Tuple Assignment, number of variables must be the same for both sides.

**Example:**

Split the user name and domain name from an email via Tuple Assingment.

In [9]:
'johndoe@example.com'.split('@')

['johndoe', 'example.com']

In [11]:

user_name, domain = 'johndoe@example.com'.split('@')

In [12]:
print(user_name)

johndoe

In [13]:
domain

'example.com'

**Example:**

Assign each element of a list into a seperate variable via Tuple Assignment.

In [15]:
my_list = ['A', 'B', 'C', 'D']

my_list

['A', 'B', 'C', 'D']

In [16]:
# unpack list elements into seperate variable

a, b, c, d = my_list

In [17]:
print('a:', a)
print('b:', b)
print('c:', c)
print('d:', d)

a: A
b: B
c: C
d: D

**Tuples and Functions**

You may notice that, functions can return only one value.

**Question**: What we will do if we want the function to return multiple values.

**Answer**: `Tuple`

**As an example:**

`divmod()` function takes two parameter: 
    
* dividend
* divisor
    
And returns a tuple of two results:

* quotient
* remainder

In [18]:
# divide 23 by 4

result = divmod(23, 4)

result

(5, 3)

In [20]:
# create seperate variables -> quotient, remainder

quotient = result[0]
print('quotient:', quotient)

remainder = result[1]
print('remainder:', remainder)

quotient: 5
remainder: 3

In [21]:
# tuple assignment
# unpacking 

quotient, remainder = divmod(23, 4)

print('quotient:', quotient)
print('remainder:', remainder)

quotient: 5
remainder: 3

**Example:**

Define a function with unknown parameters(*args).

The fn will return the multiplication result of these parameters.

In [22]:

def sum_and_multiply(*args):
    
    print(args)
    print(type(args))

In [23]:
sum_and_multiply(2, 5, 4, 3)

(2, 5, 4, 3)
<class 'tuple'>

In [26]:
# let's define


def sum_and_multiply(*args):
    
    # summation
    summation = sum(args)
    
    # multiplication -> for loop
    multiplication = 1
    for arg in args:
        multiplication *= arg
        
    # return both results
    return (summation, multiplication)

In [27]:
sum_and_multiply(2, 5, 4, 3)

(14, 120)

In [28]:
# get the result elements from the tuple
# via Tuple Assignment

summation, mult = sum_and_multiply(2, 5, 4, 3)

print('summation:', summation)
print('mult:', mult)

summation: 14
mult: 120

**Example:**

Define a function taking a list as parameter.

It will return:

* min 
* max
* mean(average)

Use statistics for mean.

In [1]:
# import the modules
import statistics

def simple_stats(a_list):
    
    # minimum
    minimum = min(a_list)
    
    # maximum
    maximum = max(a_list)
    
    # mean
    mean = statistics.mean(a_list)
    
    # return -> tuple(min, max, average)
    return (minimum, maximum, mean)

In [2]:
my_list = [1, 2, 3, 4, 5]

minimum, maximum, average = simple_stats(my_list)

print('minimum:', minimum)
print('maximum:', maximum)
print('average:', average)

minimum: 1
maximum: 5
average: 3

# zip() Function

In Python most of the time we need to use Lists and Tuples together.

We will learn `zip()` function to see how we manage this.

`zip()` function takes two or more Sequence Type parameters.

**Sequence Type:** A type, you can access its elements via indices (int and implicit).

* List
* Tuple 
* String
* Range

`zip()`

* takes the corresponding elements (with the same indices) from the parameters
* returns them as Zip Object (containing Tuples)

In [4]:
text = 'xyzt'
a_list = [1, 2, 3, 4]

# zip the text and the list
zip_obj = zip(text, a_list)

print(zip_obj)

<zip object at 0x000002BCC3CA3080>

`zip object` is an **iterator.**

**Iterator**: is an object which you can loop over it.

In [5]:
# loop over zip_obj

for z in zip_obj:
    print(z)

('x', 1)
('y', 2)
('z', 3)
('t', 4)

As you see, each element in the zip object is a Tuple.

* First element is from the String
* Second element is from the List

In [6]:
zip_obj[0]

TypeError: 'zip' object is not subscriptable

You can not directly access the elements of zip object (iterator).

In [7]:
zip_list = list(zip_obj)
zip_list

[]

You may ask:
    
How is this possible? We already loop over it and it returned a list of Tuples.

Yes you are right.

But you can loop over an iterator only once.

Python will stop iterating when you reach to the end of iterator.

That's necessary to prevent infinte looping.

If you need to loop over the iterator more than once, you can assign it to a list.

In [8]:
d1 = ['A', 'B', 'C', 'D', 'E']
d2 = [10, 20, 30, 40, 50]

new_zip = zip(d1, d2)

print(new_zip)

<zip object at 0x000002BCC3D6FE40>

In [9]:
zip_list = list(new_zip)

zip_list

[('A', 10), ('B', 20), ('C', 30), ('D', 40), ('E', 50)]

In [10]:
for z in zip_list:
    print(z)

('A', 10)
('B', 20)
('C', 30)
('D', 40)
('E', 50)

In [11]:
zip_list[0]

('A', 10)

**Question:**

What happends if the parameters are in different length?

In [12]:
d1 = ['A', 'B', 'C', 'D', 'E']
d2 = [10, 20, 30]

new_zip = zip(d1, d2)

print(new_zip)

<zip object at 0x000002BCC3D20140>

In [13]:
# assing the zip object to a list

zip_list = list(new_zip)

zip_list

[('A', 10), ('B', 20), ('C', 30)]

In [14]:
len(zip_list)

3

**Answer:** The minimum number will decide the final length.

**Loop over the zip list-> get Tuples**

In [15]:
zip_list

[('A', 10), ('B', 20), ('C', 30)]

In [17]:
for el in zip_list:
    print(el)
    print(type(el))

('A', 10)
<class 'tuple'>
('B', 20)
<class 'tuple'>
('C', 30)
<class 'tuple'>

In [18]:
# tuple unpacking

for d1_el, d2_el in zip_list:
    print("element from d1: {0} - element from d2: {1}".format(d1_el, d2_el))

element from d1: A - element from d2: 10
element from d1: B - element from d2: 20
element from d1: C - element from d2: 30

**Example:**

Check the corresponding elements(at the same index) of two lists.

And print them if they are equal. (common elements)

In [19]:
l1 = ['a', 'B', 'C', 'd', 'e', 'F']
l2 = ['A', 'B', 'c', 'd', 'E', 'F']

for e1, e2 in zip(l1, l2):
    
    if e1 == e2:
        print(e1)

B
d
F

# Tuple & Dictionary

We learned that to get the elements of a Dictionary -> `items()`

And this **items()** returns a list of **Tuples.**

In [20]:
# ASCII codes of first 3 letters

asciis = {
    'A': ord('A'),
    'B': ord('B'),
    'C': ord('C'),
    'a': ord('a'),
    'b': ord('b'),
    'c': ord('c')
}

asciis

{'A': 65, 'B': 66, 'C': 67, 'a': 97, 'b': 98, 'c': 99}

In [21]:
asciis.items()

dict_items([('A', 65), ('B', 66), ('C', 67), ('a', 97), ('b', 98), ('c', 99)])

In [23]:
# loop over items 

for key, value in asciis.items():
    print(key, value)

A 65
B 66
C 67
a 97
b 98
c 99

**Remainder:**

Dictionaries are not ordered types.

We can not expect its items to be ordered.

Because Dictionary does not use implict integer indexing.

In [24]:
asciis(0)

TypeError: 'dict' object is not callable

**Convert Tuple List into a Dictionary:**

We saw that items() returns the elements of a Dictionary as a list of Tuples.

Now let's do the opposite.

This time we will a list of Tuples and convert it into a Dictionary.

In [25]:
months_days = [
    ('January', 31),
    ('February', 28),
    ('March', 31),
    ('April', 30)
]

months_days

[('January', 31), ('February', 28), ('March', 31), ('April', 30)]

In [26]:
months = dict(months_days)

months

{'January': 31, 'February': 28, 'March': 31, 'April': 30}

In [27]:
print(type(months))

<class 'dict'>

**Example:**

Use `zip()` and `range()` functions to create a Dictionary of days in a week.

* 1: Monday
* 2: Tuesday
* 3: Wednesday
* 4: Thursday
* 5: Friday
* 6: Saturday
* 7: Sunday

In [2]:
# Solution:

day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
numbers = range(1, 8)

days = zip(numbers, day_names)

print(days)

<zip object at 0x000001A06C44C900>

In [3]:
# convert the zip object (iterartor of list of tuples)

days_dict = dict(days)

print(days_dict)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

In [5]:
# do the same thing in one line

days_dict_2 = dict(zip(numbers, day_names))

print(days_dict_2)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

**Tuples as Dictionary Key:**

We have learned that the `key` of Dictionary must be `Immutable` type.

Since Tuples are Immutable, we can assign them as Dictionary Keys.

**Example:**

We want to store the students names and grades in a dictionary.

`(FirstName, LastName)` will be the key and `Grade` will be the value.

    student_grades = {
        ('Manish', 'Kunwar'): 'MK',
        ('Bruce', 'Wayne'): 'DC',
        ('Klark', 'Kent'): 'FF',
        ('Peter', 'Parket'): 'FD'
    }

In [7]:
# Solution

# Create list
names = ['Manish', 'Bruce', 'Klark', 'Peter']
lastnames = ['Kunwar', 'Wayne', 'Kent', 'Parker']
grades = ['AA', 'DC', 'FF', 'FD']

# empty dict
student_grades = {}

# loop over 3 list simultaniously -> zip()
for name, lastname, grade in zip(names, lastnames, grades):
    
    student_grades[(name, lastname)] = grade
    
student_grades

{('Manish', 'Kunwar'): 'AA',
 ('Bruce', 'Wayne'): 'DC',
 ('Klark', 'Kent'): 'FF',
 ('Peter', 'Parker'): 'FD'}

# `lambda` Function as Key

Some built-in Python functions expect a declaration to execute.

We have to declare them how to process.

This declaration is a function actully.

We have to pass a function as parameter.

We saw `lambda` function before.

Now we will use the lambda function as function parameters.

For example:

For sorting Python has two functions: `sort()` and `sorted()`

* sort()
    * list.sort(reverse = True|False,**key=myFunc)
* sorted()
    * sorted(list,**key=myFunc**, reverse=True|False)

As you see, the **myFunc** that we pass to **key** parameter is our function.

First we will, create a normal function and pass it to **key** parameter.

Then we will do the same thing with lambda function.

In [1]:
cars = ('Mercedes', 'Audi', 'BMW', 'Porsche', 'VM')

**Example:**

Sort the cars tuple by length of elements in ascending order. (number of chars in elements)

**Define a Named Function**

In [2]:

def myFunc(e):
    return len(e)

In [3]:
myFunc('Audi')

4

In [4]:
myFunc('VW')

2

In [6]:
# sorted()

# sorted() returns a list of sorted elements

sorted(cars, key = myFunc)

['VM', 'BMW', 'Audi', 'Porsche', 'Mercedes']

In [7]:
# sorted()

# sorted() is a list function -> operates on lists

cars.sort(key = myFunc)

AttributeError: 'tuple' object has no attribute 'sort'

In [9]:
# sort()

# sort() is a list function -> operates on lists

cars_list = list(cars)
print(cars_list)

#sort() -> sorts in place -> mutates the list
cars_list.sort(key=myFunc)

print("**** after sort() *****")
print(cars_list)

['Mercedes', 'Audi', 'BMW', 'Porsche', 'VM']
**** after sort() *****
['VM', 'BMW', 'Audi', 'Porsche', 'Mercedes']

# lambda Function

**lambda:** one line, anomymous function.

In [10]:
# sorted()

cars

('Mercedes', 'Audi', 'BMW', 'Porsche', 'VM')

In [11]:
sorted(cars, key = lambda e: len(e))

['VM', 'BMW', 'Audi', 'Porsche', 'Mercedes']

In [12]:
# sort()

cars_list = list(cars)

cars_list.sort(key=lambda e: len(e))

print(cars_list)

['VM', 'BMW', 'Audi', 'Porsche', 'Mercedes']

**Question:**

So far, we didn't pass any **key** parameter into sorted() or sort().

How do they do the sorting?

**Answer:**

They use standard sorting:

* numbers -> numeric sort
* str -> alphabetical sort

In [13]:
# Example:

numbers = (2, 1, 3, 7, 6, 5, 4)

numbers

(2, 1, 3, 7, 6, 5, 4)

In [14]:
# default -> sorts numeric

sorted(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
# lambda 

# sorted(numbers) === sorted(numbers, key = lambda e: e)

sorted(numbers, key = lambda e:e)

[1, 2, 3, 4, 5, 6, 7]

In [16]:
# Example

letters = ['c', 'f', 'b', 'a', 'e', 'd']

letters.sort()

print(letters)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
letters = ['c'