# Variables

## What is a Variable?

**Variable** is a name referring to a value.

It is the **name of the address** for that **value** in the memory.

**Assignment** create a vairable and binds it to the given value.

=

In [1]:
a = 12

In [2]:
a

12

In [3]:
info = "Python name comes from Monthy Python and Holly Grail"

In [4]:
print(info)

Python name comes from Monthy Python and Holly Grail

In [5]:
pi = 3.1415
print(pi)

3.1415

In [6]:
n = 12

In [7]:
n

12

In [8]:
a

12

In [9]:
a = 1000

In [10]:
a

1000

In [11]:
a = 3000
a

3000

# Variable Names

In python, Variable Names:

* should be meaningful, self-explanatory
* generally we use snake_case

average_car

starting_index

Variables Names CAN NOT:

* start with a number
    * 1number
    * 3_rd_postion
    
* include space
    * average speed

* include special characters
    * @,-,+,*,etc.
    * @number
    
* include keywords
    * and, for, return, True, if...

In [13]:
1number = 1245

SyntaxError: invalid syntax (Temp/ipykernel_7812/388009423.py, line 1)

In [ ]:
average_speed = 80

In [ ]:
average speed = 85

In [ ]:
@tenth = 10

In [ ]:
for = 4

In [ ]:
*a = 45

**Important:**

In Python, **CAPTIAL-small** letters are different.

`Python is CASE SENSITIVE`

In [14]:
a = 10
A = 45

In [15]:
print(a)

10

In [16]:
print(A)

45

a is not equal to A in Python.

In [17]:
num = 5
Num = 12
print(num)

5

**Unicode Characters:**

Try not to use Unicode Characters in varaible names.

Only use English Alphabet (ASCII).

In [18]:
Ω_omega = 80

In [19]:
print(Ω_omega)

80

In [20]:
omega = 80
print(omega)

80

## Python Data Types

In python Data Types are:

* Text Type:**str**
* Numeric Types: **int, float, complex**
* Sequence Types: **list, tuple, range**
* Mapping Types: **set , frozenset**
* Boolen Types: **bool**
* Binary Types: **bytes,bytearray,memortyview**

To get the type of a variable `type()`

In [21]:
text = 'This is a string'
type(text)

str

In [22]:
integer = 16
type(integer)

int

In [23]:
floating_point_number = 4.6
print(type(floating_point_number))

<class 'float'>

In [24]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [25]:
type(my_list)

list

In [26]:
triple = ('A', 'B', 'C')
print(triple)
type(triple)

('A', 'B', 'C')

tuple

In [27]:
to_ten = range(10)
print(to_ten)

range(0, 10)

In [28]:
type(to_ten)

range

In [29]:
for i in to_ten:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
dictionary = {
    "name" : "Manish",
    "lastname" : "Kunwar",
    "language" : "Python"
}

# <TAB>
print(dictionary)

{'name': 'Manish', 'lastname': 'Kunwar', 'language': 'Python'}

In [31]:
type(dictionary)

dict

In [32]:
set_of_numbers = set([1 , 2, 2, 3, 1, 3, 4, 4])
print(set_of_numbers)

{1, 2, 3, 4}

In [33]:
type(set_of_numbers)

set

In [34]:
correct = True
wrong = False

In [35]:
print(correct)

True

In [36]:
print(wrong)

False

In [37]:
type(correct)

bool

# Python Comments

**Complier** translates your source code into machine langauge.

Compiler does this translation all at once, when you finish coding.(as a whole)

**Interpreter** tranlates your source code into manchine language.

Interpeter does this translation while you are coding.(line by line)

In python, we have Python Interpreter.

**Comments** are lines, which are `igonred` by Python Interpreter.

Interpreter does not run Comments.

In [38]:
# One line comment

# This is one line comment

In [39]:
# keeps the miles traveled
miles_traveled = 90000

print(miles_traveled)

90000

In [40]:

# average speed = displacement / change in time

# first get the displacement
displacement = 450  # km

# then get the change in time
change_in_time = 6 # hr

#calculate the average speed
average_speed = displacement / change_in_time

#print the result
print(average_speed)

75.0

In [41]:
# ONE LINE COMMENT

In [42]:
"""
Multi-Line Commet

In Python, Multi-Line Comments, 
are created via two (triple) double quotes
"""    """
As in this case

"""

'\nMulti-Line Commet\n\nIn Python, Multi-Line Comments, \nare created via two (triple) double quotes\n\nAs in this case\n\n'

In [43]:
multi_line_text = "Line 1 \nLine 2 \nLine 3"
print(multi_line_text)

Line 1
Line 2
Line 3

`\n` new line character.

In [44]:
print("Hello my dear \nPython")

Hello my dear
Python

In [45]:
"""

This is line 1
    This is line 2
        This is line 3

"""

'\n\nThis is line 1\n    This is line 2\n        This is line 3\n\n'

In [46]:
print("""

This is line 1
    This is line 2
        This is line 3

""")

This is line 1
    This is line 2
        This is line 3

# Numeric Operations

In [47]:
# define two variables

a = 30
b = 7

In [48]:
print(a+b)  # addition

37

In [49]:
print(a-b) # subtraction

23

In [50]:
print(a*b) # multiplcation

210

In [51]:
print(a/b) #division

4.285714285714286

In [52]:
print(a//b)  # floor division (integer division)

4

In [53]:
print (a % b) # modulus

2

In [54]:
print (a**b) # power

21870000000

**Order of Operations:** Paranthesis, Exponents, Division, Multiplication, Addition, Subtraction


`PEDMAS`

In [55]:
print(4*5-9+14/7)

13.0

In [56]:
a = 9

# increment a by 1

a = a + 1
a

10

In [57]:
a = a + 4
a

14

In [58]:
# Shorthand Increment -> +=

a += 1     # a = a + 1
a

15

In [59]:
# Shorthand Decrement -> -=

a -=6    # a = a - 6
a

9

In [60]:
# Shorthand Multiply -> *=

a *= 5    # a = a * 5
a

45

In [61]:
# Shorthand Dicision -> /=

a /= 11   # a = a / 11
a

4.090909090909091

# String Operations

In Python, Strings are displayed via **double quotes("")** or **single quotes('')**

`Opening and Closing Quotes should match.`

In [62]:
string_double = "This is a double quotes string."
print(string_double)

This is a double quotes string.

In [63]:
string_single = 'This is a single qoute string'
print(string_single)

This is a single qoute string

In [64]:

# If you need to use both in the same string

single_in_double = "Python's Syntax"
print(single_in_double)

Python's Syntax

In [65]:
double_in_single = 'Jenny said "Run, Forest, run"'
double_in_single

'Jenny said "Run, Forest, run"'

In [66]:
false = "This is a 'double quote'

SyntaxError: EOL while scanning string literal (Temp/ipykernel_7812/244363009.py, line 1)

In python, you can not do Arithmetic Operations on Strings (str).

* -, /
* '4' - '3'

In [67]:
'4' - '3'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [68]:
'4' / '3'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

**Exceptional Case:** + and * is possible with str.

(but with its own logic)

In [69]:
first = "Sunny"
second = "Days"

In [70]:
# Addition in Strings (Concatination)

first + second

'SunnyDays'

In [71]:
first + second + first + first + second

'SunnyDaysSunnySunnyDays'

In [72]:
# Multiplication in strings

4 * first

'SunnySunnySunnySunny'

In [73]:
6 * '5'

'555555'

In [74]:
3 * '88'

'888888'