# Tuple Creation

Tuple is a Sequence Type like String and List.

They can take any type as elements.

Tuple's are indexed by integers (implicitly).

They look like List.

Main Difference:
    
    * List -> Mutable
    * Tuple -> Immutable
    
**Tuple** is a sequence seperated by comma.

**Creating a Tuple by assigning elements seperated with comma**

In [1]:
t = 'x', 'y', 'z', 'q', 'p'
t

('x', 'y', 'z', 'q', 'p')

In [2]:
type(t)

tuple

In [3]:
t2 = (1, 2, 4, 6, 8, 20)
t2

(1, 2, 4, 6, 8, 20)

In [4]:
tuple(t2)

(1, 2, 4, 6, 8, 20)

In [5]:
isinstance(t2, tuple)

True

In [7]:
isinstance(t2, list)

False

**Question:**

How to create a tuple with only one element?

In [8]:
one_tuple = 'x'

In [9]:
type(one_tuple)

str

In [10]:
one_tuple = ('x')
one_tuple

'x'

In [11]:
type(one_tuple)

str