# Tuple Creation

Tuple is a Sequence Type like String and List.

They can take any type as elements.

Tuple's are indexed by integers (implicitly).

They look like List.

Main Difference:
    
    * List -> Mutable
    * Tuple -> Immutable
    
**Tuple** is a sequence seperated by comma.

**Creating a Tuple by assigning elements seperated with comma**

In [1]:
t = 'x', 'y', 'z', 'q', 'p'
t

('x', 'y', 'z', 'q', 'p')

In [2]:
type(t)

tuple

In [3]:
t2 = (1, 2, 4, 6, 8, 20)
t2

(1, 2, 4, 6, 8, 20)

In [4]:
tuple(t2)

(1, 2, 4, 6, 8, 20)

In [5]:
isinstance(t2, tuple)

True

In [7]:
isinstance(t2, list)

False

**Question:**

How to create a tuple with only one element?

In [8]:
one_tuple = 'x'

In [9]:
type(one_tuple)

str

In [10]:
one_tuple = ('x')
one_tuple

'x'

In [11]:
type(one_tuple)

str

**Answer:**

You add a comma after the element.

In [12]:
one_tuple = ('x',)
one_tuple

('x',)

In [13]:
type(one_tuple)

tuple

In [16]:
one_tuple_2 = 'y',
one_tuple_2

('y',)

In [17]:
type(one_tuple_2)

tuple

**Create Tuple with ->  `tuple()`**

In [18]:
t = tuple()
t

()

In [19]:
isinstance(t, tuple)

True

In [20]:
# let's create a tuple with single element

single = tuple('x')
single

('x',)

In [21]:
type(single)

tuple

**tuple()** -> enter a string, it will convert into a Tuple

In [22]:
lang = tuple('Python')
lang

('P', 'y', 't', 'h', 'o', 'n')

In [24]:
lang[0]

'P'

In [25]:
lang[2]

't'

**tuple()** -> enter a list, it will convert into a Tuple

In [26]:
my_list = ['A', 'B', 'C', 'D']

list_tuple = tuple(my_list)

list_tuple

('A', 'B', 'C', 'D')

In [27]:
type(list_tuple)

tuple

In [28]:
list_tuple[3]

'D'